.container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.text-style {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-black);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        justify-content: space-around;
        gap: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 321px) {
    .container {
        justify-content: space-around;
        gap: 0px;
        width: 100%;
    }
}
